<ul class="expense-list">
  <li *ngFor="let group of groupedExpenses()">
    <div class="expense-date">{{ group.date }}</div>
    <hr class="divider" />

    <div *ngFor="let expense of group.items" class="expense-item">
      <div class="expense-icon" [style.background]="expense.color">
        <i [class]="expense.icon"></i>
      </div>

      <div class="expense-info">
        <p class="expense-type">{{ expense.item }}</p>
        <p class="expense-category">{{ expense.category }}</p>
      </div>
      
      <div class="expense-amount">
        <p class="original-amount">
          <span>{{ getCurrencySymbol(expense.currency) }}</span>
          {{ expense.amount.toFixed(2) }}
        </p>
        <p class="converted-amount">
          {{ getConvertedAmount(expense) }}
        </p>
      </div>
    </div>
  </li>
</ul>
