<nav class="navbar">
  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i> <!-- Home Icon -->
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/expenses" routerLinkActive="active">
        <i class="fas fa-receipt"></i> <!-- Expenses Icon -->
        <span>Expenses</span>
      </a>
    </li>

    <!-- Floating Add Button -->
    <li class="add-btn">
      <button (click)="quickAddExpense()">
        <i class="fas fa-plus"></i> <!-- Add Icon -->
      </button>
    </li>

    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="fas fa-user"></i> <!-- Profile Icon -->
        <span>Profile</span>
      </a>
    </li>

    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <i class="fas fa-user"></i> <!-- Profile Icon -->
        <span>Dummy Icon</span>
      </a>
    </li>
  </ul>
</nav>
